{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * UptimeRobot plugin for Craft CMS 3.x
 *
 * UptimeRobot index.twig
 *
 * @author    La Haute Société
 * @copyright Copyright (c) 2018 La Haute Société
 * @link      https://www.lahautesociete.com
 * @package   UptimeRobot
 * @since     1.0.0
 */
#}

{% extends "uptime-robot/_layouts/main.twig" %}
{% import "_includes/forms" as forms %}

{# Content that should appear in the page header#}
{% block actionButton %}
    {% if currentUser.can('uptime-robot:add-monitor') and showAddMonitor %}
        <a href="{{ url('uptime-robot/add-monitor') }}" class="btn submit add icon">{{ 'Add new monitor'|t('uptime-robot') }}</a>
    {% endif %}
{% endblock %}

{# The content of the CP Section#}
{% set content %}
    <h4>{{ '{monitorsLeft,plural,=0{No remaining monitor available} =1{One remaining monitor} other{# remaining monitors}}.'|t('uptime-robot', { monitorsLeft: monitorsLeft }) }}</h4>
    {% if monitors|length %}
        <div class="tableview">
            <table class="data fullwidth collapsible">

                <thead>

                <th scope="col">{{ 'Name'|t('uptime-robot') }}</th>
                <th scope="col">{{ 'Type'|t('uptime-robot') }}</th>
                <th scope="col">{{ 'URL'|t('uptime-robot') }}</th>
                <th scope="col">{{ 'Status'|t('uptime-robot') }}</th>
                <th scope="col">{{ 'Uptime'|t('uptime-robot') }}</th>
                <td scope="col" class="thin" title="{{ 'Edit'|t }}"></td>

                </thead>

                <tbody>

                {% for monitor in monitors %}

                    <tr>

                        <th>{{ monitor.name }}</th>
                        <td>{{ monitor.type }}</td>
                        <td>{{ monitor.url }}</td>
                        <td style="white-space: nowrap"><span class="{{ monitor.statusClass }}"></span>{{ monitor.status }}</td>
                        <td>{{ monitor.uptime }}</td>
                        <td class="thin">
                            {% if currentUser.can('uptime-robot:edit-monitor:' ~ monitor.siteId) %}
                                <a href="{{ url('uptime-robot/edit-monitor/' ~ monitor.id) }}" data-icon="edit"></a>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </td>

                    </tr>

                {% endfor %}

                </tbody>

            </table>
        </div>
    {% else %}

        <h3>{{ 'No monitors found'|t('uptime-robot') }}</h3>

        <p>{{ 'Click the \'Add new monitor\' button to create one.'|t('uptime-robot') }}</p>

    {% endif %}
{% endset %}

