{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * UptimeRobot plugin for Craft CMS 3.x
 *
 * UptimeRobot index.twig
 *
 * @author    La Haute Société
 * @copyright Copyright (c) 2018 La Haute Société
 * @link      https://www.lahautesociete.com
 * @package   UptimeRobot
 * @since     1.0.0
 */
#}

{% extends "uptime-robot/_layouts/main.twig" %}

{% set crumbs = [
    {
        label: "Uptime Robot",
        url: cpUrl('uptime-robot')
    },
    {
        label: "View monitor \"{name}\""|t('uptime-robot', {name: model.name}),
        url: cpUrl("uptime-robot/view-monitor/" ~ model.id)
    }
] %}

{% set tabs = {
    details: {label: 'Details'|t('uptime-robot'), url: '#typography'},
    responsetimes: {label: 'Response times'|t('uptime-robot'), url: '#responsetimes'},
    logs: {label: 'Events'|t('uptime-robot'), url: '#logs'},
} %}

{# The content of the CP Section#}
{% block content %}
    <script>
        var response_times_series = {{ response_times_series|json_encode }};
    </script>

    <div id="typography">
        <div class="tableview">
            <table class="data fullwidth collapsible">
                <tr>
                    <th>
                        {{ 'Name'|t('uptime-robot') }}
                    </th>
                    <td>
                        {{ model.monitor.friendly_name }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'URL'|t('uptime-robot') }}
                    </th>
                    <td>
                        {{ model.monitor.url }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'Status'|t('uptime-robot') }}
                    </th>
                    <td>
                        <span class="{{ craft.uptimeRobot.helper('getMonitorStatusLabelClass', model.monitor.status) }}"></span>{{ craft.uptimeRobot.helper('getMonitorStatusLabel', model.monitor.status) }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'Uptime'|t('uptime-robot') }}
                    </th>
                    <td>
                        {{ craft.uptimeRobot.helper('getRatioAsPercent', model.monitor.all_time_uptime_ratio) }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'Average response time'|t('uptime-robot') }}
                    </th>
                    <td>
                        {{ '{response_time} milliseconds'|t('uptime-robot', { response_time: model.monitor.average_response_time|number }) }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'Type'|t('uptime-robot') }}
                    </th>
                    <td>
                        {{ craft.uptimeRobot.helper('getMonitorTypeLabel', model.monitor.type) }}
                    </td>
                </tr>
                <tr>
                    <th>
                        {{ 'Interval'|t('uptime-robot') }}
                    </th>
                    <td>
                        {{ craft.uptimeRobot.helper('getFriendlyInterval', model.monitor.interval) }}
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="responsetimes" class="hidden">
        <div id="apex-response-times" style="width: 100%;"></div>
    </div>

    <div id="logs" class="hidden">
        <div class="tableview">
            <table class="data fullwidth collapsible">

                <thead>

                <th scope="col">{{ 'Status'|t('uptime-robot') }}</th>
                <th scope="col">{{ 'Date'|t('uptime-robot') }}</th>
                <th scope="col">{{ 'Duration'|t('uptime-robot') }}</th>
                <th scope="col">{{ 'Reason'|t('uptime-robot') }}</th>

                </thead>

                <tbody>

                {% for log in model.monitor.logs %}

                    <tr>

                        <th><span class="{{ craft.uptimeRobot.helper('getMonitorLogTypeLabelClass', log.type) }}"></span>{{ craft.uptimeRobot.helper('getMonitorLogTypeLabel', log.type) }}</th>
                        <td>{{ log.datetime|datetime }}</td>
                        <td>{{ craft.uptimeRobot.helper('getFriendlyDuration', log.duration) }}</td>
                        <td>{{ log.reason.detail }}</td>

                    </tr>

                {% endfor %}

                </tbody>

            </table>
        </div>
    </div>
{% endblock %}

