{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * UptimeRobot plugin for Craft CMS
 *
 * UptimeRobot Widget Body
 *
 * @author    La Haute Société
 * @copyright Copyright (c) 2018 La Haute Société
 * @link      https://www.lahautesociete.com
 * @package   UptimeRobot
 * @since     1.0.0
 */
#}

{% if monitors|length %}

    <table class="data fullwidth">
        {% for monitor in monitors %}
            <tr>
                <td>
                    {% if currentUser.can('uptime-robot:view-monitor:' ~ monitor.siteId) %}
                        <a href="{{ url('uptime-robot/view-monitor/' ~ monitor.id) }}" class="go"><span class="{{ monitor.statusClass }}"></span>{{ monitor.name }}</a>
                    {% else %}
                    <span class="{{ monitor.statusClass }}"></span>{{ monitor.name }}
                    {% endif %}
                </td>
                <td class="light">
                    {{ monitor.uptime }}
                </td>
            </tr>
        {% endfor %}
    </table>

{% else %}

    <h3>{{ 'No monitors found'|t('uptime-robot') }}</h3>
    {% if currentUser.can('uptime-robot:add-monitor') %}
        <a href="{{ cpUrl('uptime-robot/add-monitor') }}" class="btn small submit add icon">{{ 'Add monitor'|t('uptime-robot') }}</a>
    {% endif %}

{% endif %}


